<!-- Bottom Nav Bar -->

<div class="container-fluid" id="bottom_grid">
    <div class="row">
      <div class="col">
        <div class="col_content">
            <a href="/gardener_profile_profile">
                <img src="images/userprofile.svg">
            </a>
        </div>
      </div>
      <div class="col">
        <a href="garden_map.html">
          <div class="col_content">
            <a href="/garden_map">
                <img src="images/Discovery.svg">
            </a>
          </div>
        </a>
      </div>
      <div class="col">
        <div class="col_content">
            <a href="/gardener_social">
                <img src="images/facebook.svg">
            </a>
        </div>
      </div>
    </div>
  </div>