<!-- Landlord Bottom Nav Bar -->

<div class="container-fluid" id="bottom_grid">
    <div class="row">
      <div class="col">
        <div class="col_content">
            <a href="/landlord_profile_profile">
                <img src="images/userprofile.svg">
            </a>
        </div>
      </div>
      <div class="col">
        <a href="/gardeners_list">
          <div class="col_content">
            <a href="/gardeners_list">
                <img src="images/Search.svg">
            </a>
          </div>
        </a>
      </div>
      <div class="col">
        <div class="col_content">
            <a href="/landlord_social">
                <img src="images/facebook.svg">
            </a>
        </div>
      </div>
    </div>
  </div>