<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <link rel="stylesheet" href="./styles/404error.css">

    <title>404 - Page not found!</title>
    <!-- Favicon Links -->
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon_package/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon_package/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon_package/favicon-16x16.png">
    <link rel="manifest" href="./favicon_package/site.webmanifest">
    <link rel="mask-icon" href="./favicon_package/safari-pinned-tab.svg" color="#00a300">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    
</head>
<body>

   <!-- Top Nav -->
    <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e2efdd;">
        <div class="container-fluid">
    
          <button id="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample">
            <img src="images/See as list.svg">
          </button>
    
          <img id="topnav-logo" class="navbar-brand" src="images/urbacrop_logo.png" height="50px" alt="Green leaf logo">
    
        </div>
      </nav>
    
    <!-- Hidden side Nav -->
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h3 class="offcanvas-title" id="offcanvasExampleLabel">UrbaCrop</h3>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          
          <div class=quick-nav>
            <div class="menu-option">
                <img src="images/applications.svg" alt="Applications Icon">
                <a href=<%= sideNavOption1URL %>>Your <%= sideNavOption1 %></a>
            </div>
            <div class="menu-option">
                <img src="images/favorites.svg" alt="Favourites Icon">
                Your Favourites
            </div>
            <div class="menu-option">
                <img src="images/guidelines.svg" alt="Guidelines Icon">
                <a href="/policies">Farming Guidelines</a>
            </div>
            <div class="menu-option">
              <img src="images/about_us.svg" alt="About Us Icon">
              <a href="about_us">About Us</a>
          </div>
            <div class="menu-option">
                <img src="images/settings.svg" alt="Settings Icon">
                Settings
            </div>
            <div class="menu-option">
                <img src="images/logout.svg" alt="Log out Icon">
                <a href="/logout">Log out</a>
            </div>
          </div>
        </div>
      </div>


    <!-- Main content -->
    <div class="container my-3 p-5">
        <div class="row">
            <div class="col-md-6 mb-4">
                <img class="img-fluid" src="images/404-Page-Tree.gif" alt="404 - gif">
            </div>
            <div class="col-md-6">
                <h1>Oops!</h1> <br>
                <h3>We can't seem to find the page you are looking for.</h3> <br>
                <p>Error Code: 404</p> <br>
                <a href=<%= profileURL %>>Go back to Profile</a>
            </div>
        </div>
    </div>

        <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
  crossorigin="anonymous"></script> 
</body>
</html>