<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  
  <link rel="stylesheet" href="./styles/about_us.css">

  <title>About us - UrbaCrop</title>

  <link rel="apple-touch-icon" sizes="180x180" href="./favicon_package/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon_package/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon_package/favicon-16x16.png">
  <link rel="manifest" href="./favicon_package/site.webmanifest">
  <link rel="mask-icon" href="./favicon_package/safari-pinned-tab.svg" color="#00a300">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

</head>

<body>

  <!-- Top Nav Bar -->

  <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e2efdd;">
    <div class="container-fluid">

      <button id="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <img src="images/See as list.svg">
      </button>

      <img id="topnav-logo" class="navbar-brand" src="images/leaf_logo.svg" alt="Green leaf logo">

    </div>
  </nav>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">UrbaCrop</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="user-info">
        <a href="gardener_profile">
          <img id="user-pro-pic" src="https://via.placeholder.com/150" alt="User Profile Picture">
          <div class="name-title">
            <h3>Suaveman Jones</h3>
            <h4>Gardener</h4>
          </div>
        </a>
      </div>
      <div class=quick-nav>
        <div class="menu-option">
            <img src="images/applications.svg" alt="Applications Icon">
            <a href="#">Your Applications</a>
        </div>
        <div class="menu-option">
            <img src="images/favorites.svg" alt="Favourites Icon">
            <a href="#">Your Favourites</a>
        </div>
        <div class="menu-option">
            <img src="images/guidelines.svg" alt="Guidelines Icon">
            <a href="#">Farming Guidelines</a>
        </div>
        <div class="menu-option">
          <img src="images/about_us.svg" alt="About Us Icon">
          <a href="about_us">About Us</a>
      </div>
        <div class="menu-option">
            <img src="images/settings.svg" alt="Settings Icon">
            <a href="#">Settings</a>
        </div>
        <div class="menu-option">
            <img src="images/logout.svg" alt="Log out Icon">
            <a href="#">Log out</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Webpage Contents -->

  <div id="main_div">
    <div id="main_title">
        <h1>
            About Us
        </h1>
    </div>

    <div class="card">
        <br>
        <img src="./images/urbacrop_logo.png" class="card-img-top" alt="...">
        <br>
        <h1>
            Team UrbaCrop
        </h1>
        <div class="card-body">
          <p class="card-text">UrbaCrop is all about keeping our city and planet beautiful!	When you buy prepackaged food from a supermarket the ingredients have to be grown, then assembled in a factory, then packaged, with shipping at every stage. When you grow at a community garden, you are involved in every single step of your meal, and everything remains local.</p>
          <br>
          <p class="card-text">Community is not only green, it’s also fun. Community gardening is a hobby that allows you to spend time outside, meeting your neighbours, getting some light exercise, and at the very end you can eat your work. With all these benefits, let us help you get started now!</p>
        </div>
    </div>

    <div class="body_div">

        <h3>
            Meet the team:
        </h3>
        
        <div class="card">
            <img src="./images/sam.png" class="card-img-top" alt="...">
            <h3>
                Sam Khademolhosseini
            </h3>
            <div class="card-body">
              <p class="card-text">Sam is an international student studying CST at BCIT. Gardening and the environment have a special place in his heart. Growing up he used to work on gardens on the weekends, and knowing how hard it is for garden lovers to not be able to garden, Sam is hoping to provide an easy way for them to connect to gardens through UrbaCrop.</p>
            </div>
        </div>


        <div class="card">
            <img src="./images/ryan.png" class="card-img-top" alt="...">
            <h3>
                Ryan Odribege
            </h3>
            <div class="card-body">
              <p class="card-text">Ryan is a native Vancouverite who is a newcomer to the tech world. He combines his new passion with his existing love of getting involved in his community. Ryan hopes that Urbacrop will help people in this beautiful city rediscover the great outdoors and kindle a spark for all things green!</p>
            </div>
        </div>

        <div class="card">
            <img src="./images/chansaa.png" class="card-img-top" alt="...">
            <h3>
                Batchansaa Batzorig
            </h3>
            <div class="card-body">
              <p class="card-text">Batchansaa Batzorig who goes by Chansaa is a current Term 1 student. She enjoys taking care of the plants at her home, and with UrbaCrop, she hopes more Vancouverites will be able to take on this wonderful hobby that benefits the environment!</p>
            </div>
        </div>

        <div class="card">
            <img src="./images/marti.png" class="card-img-top" alt="...">
            <h3>
                Marti Gatchev
            </h3>
            <div class="card-body">
              <p class="card-text">Marti Gatchev is a CST student at BCIT with a strong passion for environmentalism and machine learning. Being part of the UrbaCrop team, Marti hopes to help build software that will strengthen our connection with the natural world.  </p>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
    
  </div>  

  <!-- Bottom Nav Bar -->

  <div class="container-fluid" id="bottom_grid">
    <div class="row">
      <div class="col">
        <div class="col_content">
          <img src="images/Home.svg">
        </div>
      </div>
      <div class="col">
        <a href="garden_map">
          <div class="col_content">
            <img src="images/Discovery.svg">
          </div>
        </a>
      </div>
      <div class="col">
        <div class="col_content">
          <img src="images/Notification.svg">
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
    -->
</body>

</html>