<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  
  <link rel="stylesheet" href="./styles/gardener_profile.css">

  <title>Profile - UrbaCrop</title>

  <!-- Favicon Links -->
  <link rel="apple-touch-icon" sizes="180x180" href="./favicon_package/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon_package/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon_package/favicon-16x16.png">
  <link rel="manifest" href="./favicon_package/site.webmanifest">
  <link rel="mask-icon" href="./favicon_package/safari-pinned-tab.svg" color="#00a300">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

</head>

<body>

  <!-- Top Nav Bar -->

  <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e2efdd;">
    <div class="container-fluid">

      <button id="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <img src="images/See as list.svg">
      </button>

      <img id="topnav-logo" class="navbar-brand" src="images/leaf_logo.svg" alt="Green leaf logo">

    </div>
  </nav>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">UrbaCrop</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="user-info">
        <a href="gardener_profile.ejs">
          <img id="user-pro-pic" src="https://via.placeholder.com/150" alt="User Profile Picture">
          <div class="name-title">
            <h3>Suaveman Jones</h3>
            <h4>Gardener</h4>
          </div>
        </a>
      </div>
      <div class=quick-nav>
        <div class="menu-option">
            <img src="images/applications.svg" alt="Applications Icon">
            <a href="#">Your Applications</a>
        </div>
        <div class="menu-option">
            <img src="images/favorites.svg" alt="Favourites Icon">
            <a href="#">Your Favourites</a>
        </div>
        <div class="menu-option">
            <img src="images/guidelines.svg" alt="Guidelines Icon">
            <a href="#">Farming Guidelines</a>
        </div>
        <div class="menu-option">
          <img src="images/about_us.svg" alt="About Us Icon">
          <a href="about_us.html">About Us</a>
      </div>
        <div class="menu-option">
            <img src="images/settings.svg" alt="Settings Icon">
            <a href="#">Settings</a>
        </div>
        <div class="menu-option">
            <img src="images/logout.svg" alt="Log out Icon">
            <a href="#">Log out</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Webpage Contents -->

    <div id="main_div">

    <div id="tab_section">
        
        <br>

        <img src="https://via.placeholder.com/150" alt="Girl in a jacket">
      
        <br>
        <br>

        <h4>
            Suaveman Jones
        </h4>
        <h5>
            Gardener
        </h5>

        <br>

        <div class="container-fluid" id="tab_grid">
            <div class="row">
                <div class="col tab_col">
                    <div class="tab_col_content">
                        Profile
                    </div>
                    <div class="selection_rectangle">

                    </div>
                </div>
                <div class="col tab_col">
                    <div class="tab_col_content">
                        Gardens
                    </div>
                </div>
                <div class="col tab_col">
                    <div class="tab_col_content">
                        Reviews
                    </div>
                </div>
            </div>
        </div>


    </div>
    
    <br>
    <br>


    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Contact Info</h5>
          <p class="card-text">This card will open up and have contact info here.</p>
          <a href="#" class="btn btn-primary">Edit</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Plant Options:</h5>
          <p class="card-text">This card will open up and have all plant options here.</p>
          <a href="#" class="btn btn-primary">Edit</a>
        </div>
    </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>

  <!-- Bottom Nav Bar -->

  <div class="container-fluid" id="bottom_grid">
    <div class="row">
      <div class="col">
        <div class="col_content">
          <img src="images/Home.svg">
        </div>
      </div>
      <div class="col">
        <a href="garden_map.html">
          <div class="col_content">
            <img src="images/Discovery.svg">
          </div>
        </a>
      </div>
      <div class="col">
        <div class="col_content">
          <img src="images/Notification.svg">
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
    -->
</body>

</html>