<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

  <link rel="stylesheet" href="./styles/gardener_profile.css">

  <title>UrbaCrop</title>

  <!-- Favicon Links -->
  <link rel="apple-touch-icon" sizes="180x180" href="./favicon_package/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon_package/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon_package/favicon-16x16.png">
  <link rel="manifest" href="./favicon_package/site.webmanifest">
  <link rel="mask-icon" href="./favicon_package/safari-pinned-tab.svg" color="#00a300">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

</head>

<body>

  <!-- Top Nav Bar -->

  <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e2efdd;">
    <div class="container-fluid">

      <button id="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <img src="images/See as list.svg">
      </button>

      <div class="easter_trigger">
        <button id="logo_button">
          <img id="topnav-logo" class="navbar-brand" src="images/leaf_logo.svg" alt="Green leaf logo">
        </button>
      </div>
      
    </div>
  </nav>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">UrbaCrop</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="user-info">
        <a href="gardener_profile.html">
          <img id="user-pro-pic" src="https://via.placeholder.com/150" alt="User Profile Picture">
          <div class="name-title">
            <h3>Suaveman Jones</h3>
            <h4>Gardener</h4>
          </div>
        </a>
      </div>
      <div class=quick-nav>
        <div class="menu-option">
          <img src="images/applications.svg" alt="Applications Icon">
          <a href="#">Your Applications</a>
        </div>
        <div class="menu-option">
          <img src="images/favorites.svg" alt="Favorites Icon">
          <a href="#">Your Favorites</a>
        </div>
        <div class="menu-option">
          <img src="images/guidelines.svg" alt="Guidelines Icon">
          <a href="#">Farming Guidelines</a>
        </div>
        <div class="menu-option">
          <img src="images/about_us.svg" alt="About Us Icon">
          <a href="about_us.html">About Us</a>
        </div>
        <div class="menu-option">
          <img src="images/settings.svg" alt="Settings Icon">
          <a href="#">Settings</a>
        </div>
        <div class="menu-option">
          <img src="images/logout.svg" alt="Log out Icon">
          <a href="#">Log out</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Webpage Contents -->

  <div id="main_div">

    <div id="tab_section" class="animation_class_two">

      <br>

      <div class="profile_picture" id="ani_test_image">
        <img id="profile_img" src="https://i.pinimg.com/originals/04/1e/bf/041ebf5acc320b19a03c903a419f14a2.jpg" alt="profile picture">
      </div>

      <br>

      <div id="profile_name">
        <h4 id="profile_name_title">
          Bourgeoisie Bob
        </h4>
        <h5 id="profile_name_type">
          Landlord
        </h5>
      </div>

      <br>

      <div class="container-fluid" id="tab_grid">
        <div class="row">
          <div class="col tab_col">
            <div class="tab_col_content">
              <input type="button" class="profile_button" onclick="location.href='./gardener_profile.profile.html';"
                value="Profile" />
            </div>
          </div>
          <div class="col tab_col">
            <div class="tab_col_content">
              <input type="button" class="profile_button" onclick="location.href='./gardener_profile.gardens.html';"
                value="Gardens" />
            </div>
            <div class="selection_rectangle"></div>
          </div>
          <div class="col tab_col">
            <div class="tab_col_content">
              <button class="profile_button">Reviews</button>
            </div>
          </div>
        </div>
      </div>


    </div>

    <br>
    <br>


    <div class="card existing_garden_card">
      <div class="card-body">
        <h5 class="card-title">Marpole Garden</h5>

        <button class="garden_image_button" type="button" data-toggle="modal" data-target="#viewGarden">
          <img src="https://media.gardenista.com/wp-content/uploads/2018/04/desert-gardens-cactus-layaered-plantings-stucco-steve-martino-book-733x489.jpg" alt="Helsinki Garden" width="100%">
        </button>

        <p class="card-text"></p>

        <!-- Button trigger modal -->

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#existingGarden">
          Edit
        </button>

      </div>
    </div>


    <div class="card new_garden_card">
      <div class="card-body">
        <h5 class="card-title">Add a new garden</h5>
        <!-- <p class="card-text">This card will open up and allow to add gardens.</p> -->

        <!-- Button trigger modal -->

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newGarden">
          +
        </button>

      </div>
    </div>

    <!-- Existing Garden View Modal -->
    <div class="modal fade" id="viewGarden" tabindex="-1" role="dialog" aria-labelledby="viewGarden"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="existingGardenTitle">Helsinki Garden</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <!-- MODAL BODY -->

          <div class="modal-body">

            <form>

              <img src="https://media.gardenista.com/wp-content/uploads/2018/04/desert-gardens-cactus-layaered-plantings-stucco-steve-martino-book-733x489.jpg" alt="Helsinki Garden" width="100%">              

              <br>
              <br>

              Garden type:

              <div id="garden_type_indicator">

                <ul>
                  <li>
                    Trees
                  </li>
                  <li>
                    Flowers
                  </li>
                </ul>

              </div>

              <div id="garden_size_indicator">

                Size: 10 sq m.

              </div>

              <br>

              <b>About the garden:</b>

              <div id="garden_bio_indicator">

                It's a great little garden in sunny Helsinki!

              </div>
        
            </form>

          </div>
        
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Existing Garden Edit Modal -->
    <div class="modal fade" id="existingGarden" tabindex="-1" role="dialog" aria-labelledby="existingGarden"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="existingGardenTitle">Helsinki Garden</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <!-- MODAL BODY -->

          <div class="modal-body">

            <br>

            <form>

              <form action="/action_page.php" id="usrform">
                Name: <input type="text" name="usrname">
                <input type="submit">
              </form>

              <br>

              <img src="https://media.gardenista.com/wp-content/uploads/2018/04/desert-gardens-cactus-layaered-plantings-stucco-steve-martino-book-733x489.jpg" alt="Helsinki Garden" width="100%">              

              <br>
              <br>

              <button>Add a photo</button>

              <br>
              <br>

              Garden type:

              <div id="garden_type_indicator">

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Vegetables
                  </label>
                </div>
  
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Fruits
                  </label>
                </div>
  
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Trees
                  </label>
                </div>
  
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Flowers
                  </label>
                </div>
  
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Herb
                  </label>
                </div>

              </div>

             
              <br>

              <div id="garden_size_indicator">

                <form action="/action_page.php">
                  <label for="fname">Size:</label> 
                  <input type="text" id="fname" name="fname"> sq m.
                  <br>
                </form>
                
              </div>

              <br>

              About the garden:

              <div id="garden_bio_indicator">

                <textarea rows="4" cols="50" name="comment" form="usrform" placeholder="Enter short description here..."></textarea>

              </div>

              
              
        
            </form>

          </div>
        
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>



    <!-- Add New Garden Modal -->
    <div class="modal fade" id="newGarden" tabindex="-1" role="dialog" aria-labelledby="newGarden"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add a new garden</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <!-- MODAL BODY -->

          <div class="modal-body">

            <form action="/addNewLandlordGarden" method="POST">

              Name: <input type="text" name="gardenName">

              <br>
              <br>
              
              Image URL: <input type="text" name="photo">
              
              <br>
              <br>
              
              <label for="location">Location:</label>
              <select id="location" name="location">
                <option value="Marpole">Marpole</option>
                <option value="Arbutus Ridge">Arbutus Ridge</option>
                <option value="Dunbar-Southlands">Dunbar-Southlands</option>
                <option value="Grandview-Woodland">Grandview-Woodland</option>
                <option value="Hastings-Sunrise">Hastings-Sunrise</option>
                <option value="Kensington-Cedar Cottage">Kensington-Cedar Cottage</option>
                <option value="Kerrisdale">Kerrisdale</option>
                <option value="Killarney">Killarney</option>
                <option value="Kitsilano">Kitsilano</option>
                <option value="Mount Pleasant">Mount Pleasant</option>
                <option value="Oakridge">Oakridge</option>
                <option value="Renfrew-Collingwood">Renfrew-Collingwood</option>
                <option value="Riley Park">Riley Park</option>
                <option value="Shaughnessy">Shaughnessy</option>
                <option value="South Cambie">South Cambie</option>
                <option value="Strathcona">Strathcona</option>
                <option value="Sunset">Sunset</option>
                <option value="Victoria-Fraserview">Victoria-Fraserview</option>
                <option value="West End">West End</option>
                <option value="West Point Grey">West Point Grey</option>
              </select>

              <br>
              <br>

              Address: <input type="text" name="address">

              <br>
              <br>

              Plant preferences:

              <div id="garden_type_indicator">

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"  name="vegetables">
                  <label class="form-check-label" for="defaultCheck1">
                    Vegetables
                  </label>
                </div>
  
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"  name="fruits">
                  <label class="form-check-label" for="defaultCheck1">
                    Fruits
                  </label>
                </div>
  
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"  name="trees">
                  <label class="form-check-label" for="defaultCheck1">
                    Trees
                  </label>
                </div>
  
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"  name="flowers">
                  <label class="form-check-label" for="defaultCheck1">
                    Flowers
                  </label>
                </div>
  
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"  name="herb">
                  <label class="form-check-label" for="defaultCheck1">
                    Herb
                  </label>
                </div>

              </div>

              <br>

              Payment Options:

              <div id="payment_indicator">

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"  name="cropShare">
                  <label class="form-check-label" for="defaultCheck1">
                    Crop Share
                  </label>
                </div>
  
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"  name="rent">
                  <label class="form-check-label" for="defaultCheck1">
                    Rent
                  </label>
                </div>
  
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"  name="volunteer">
                  <label class="form-check-label" for="defaultCheck1">
                    Volunteer
                  </label>
                </div>

              </div>
             
              <br>

              <div id="garden_size_indicator">

                <label for="fname">Size:</label> 
                <input type="text" id="size" name="size"> sq m.
                
              </div>

              <br>

              About the garden:

              <div id="garden_bio_indicator">

                <textarea rows="4" cols="50" name="about" placeholder="Enter short description here..."></textarea>

              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>

  <!-- Bottom Nav Bar -->

  <div class="container-fluid" id="bottom_grid">
    <div class="row">
      <div class="col">
        <div class="col_content">
          <img src="images/Home.svg">
        </div>
      </div>
      <div class="col">
        <a href="garden_map.html">
          <div class="col_content">
            <img src="images/Discovery.svg">
          </div>
        </a>
      </div>
      <div class="col">
        <div class="col_content">
          <img src="images/Notification.svg">
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JavaScript -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- Custom Javascript -->
  <script src="./scripts/gardener_profile.js"></script>

</body>

</html>