/* CSS for swipe • swipe • collection.html */



/* ----- WEBPAGE ----- */

#main_title {
    text-align: center;
    padding: 3%;
}

.card {
    margin: 0 auto;
    width: 75%;
    margin-bottom: 20px;
}

#main_div {
    text-align: center;
}

#main_div img {
    width: 65%;
    margin: auto;
}

#logo_image {
    width: 50%;
}


/* ----- MENU SKELETON ----- */

#bottom_grid {
    background-color: #e2efdd;
    position:fixed;
    bottom: 0;
    height: 7%;
}

.row {
    height: 100%;
}

.col {
    position: relative;
    padding: 5px;
}

.col_content {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -25px;
    text-align: center;
}

.col:hover {
    background-color: #bcd4b6;
}

.navbar-fixed-top {
    height: 7%;
}

#navbar-toggler {
    border: none;
    background-color: #e2efdd;
}

#topnav-logo {
    float: center;
}

.offcanvas {
    width: 70%;
}

.quick-nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.quick-nav a {
    color: #1B490A;
}

.user-info {
    display: flex;
    flex-direction: row;
}

.user-info h3 {
    font-size: 20px;
}

.user-info h4 {
    font-size: 15px;
}

.user-info img {
    border-radius: 100px;
}

#user-pro-pic {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.menu-option {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu-option:hover {
    background-color: #eef5eb;
}

.menu-option img {
    padding-right: 15px;
}