body {
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
  margin: 0;
}

.filter-menu {
  position: absolute;
  bottom: 650px;
  right: 0;
  border-radius: 15%;
  height: 80px;
  width: 100px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e2efdd;

}

.filter-menu button {
  width: 48%;
  max-height: 90%;
  background-color: #e2efdd;
  border: none;
}

#accordionPanelsStayOpenExample {
  margin-top: 30%;
}

.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}

/* ----- MENU SKELETON ----- */

.quick-nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.quick-nav a {
  color: #1B490A;
}

.user-info {
  display: flex;
  flex-direction: row;
}

.user-info h3 {
  font-size: 20px;
}

.user-info h4 {
  font-size: 15px;
}

.user-info img {
  border-radius: 100px;
}

#user-pro-pic {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}



.col:hover {
  background-color: #bcd4b6;
}

.menu-option {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu-option:hover {
  background-color: #eef5eb;
}

#map {
  height: 100%;
}


#commentsModal {
  z-index: 10000;
}